body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background-password-generator.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1faff;
  .box {
    background-color: #5b92b2c5;
    border-radius: 1rem;
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    section {
      width: 90%;
    }
    .header {
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #d9f1ff;
      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
    .generate {
      height: 75%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      div {
        display: flex;
        width: 80%;
      }
      select {
        width: 20%;
        background-color: #12475c;
        color: #d9f1ff;
        border-radius: 5px;
        &:hover {
          box-shadow: inset 0 0 0.4rem 0.1rem #5b92b2;
        }
      }
      input {
        width: 75%;
        height: 1.25rem;
      }
      button {
        width: 15rem;
        height: 3rem;
        background-color: #12475c;
        border: none;
        border-radius: 5px;
        color: #d9f1ff;
        &:hover {
          box-shadow: inset 0 0 0.4rem 0.1rem #5b92b2;
        }
      }
      .copy {
        width: 20%;
        height: 1.6rem;
      }
    }
  }
}
